<h2>Project Listing
    <a routerLink="/project/new" class="btn btn-primary myNewBtn pull-right">Add Project</a>
    <img [hidden]="!isLoading" src="assets/images/loading.gif"
         class="pull-right loadingListing" height="30" width="30">
</h2>
<div class="row">
    <div class="col-lg-12">
        <p style="padding: 6px;" [hidden]="!error" class="alert {{message.class}}">{{message.message}}</p>

        <table class="table table-bordered whiteTbl">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date Started</th>
                <th>Date Ended</th>
                <th>Date On Board</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr [hidden]="projects.data.length > 0 && !isLoading">
                <td colspan="6" class="text-center">No data found.</td>
            </tr>
            <tr *ngFor="let project of projects.data">
                <td>{{project.name}}</td>
                <td *ngIf="project.date_started !== '0000-00-00 00:00:00'">{{project.date_started | date:'mediumDate'}}
                </td>
                <td *ngIf="project.date_started == '0000-00-00 00:00:00'" class="text-center">-</td>

                <td *ngIf="project.date_ended !== '0000-00-00 00:00:00'">{{project.date_ended | date:'mediumDate'}}
                </td>
                <td *ngIf="project.date_ended == '0000-00-00 00:00:00'" class="text-center">-</td>

                <td *ngIf="project.date_onboard !== '0000-00-00 00:00:00'">{{project.date_onboard | date:'mediumDate'}}
                </td>
                <td *ngIf="project.date_onboard == '0000-00-00 00:00:00'" class="text-center">-</td>

                <td>{{project.status}}</td>
                <td>
                    <a class="fa fa-pencil" routerLink="/edit/project/{{project.id}}"></a>
                    <a data-toggle="modal" data-target="#myModal" (click)="setDeletePid(project.id)"
                       class="fa fa-times" href="javascript:void(0);"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="line"></div>
<!-- Delete Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
                <button (click)="deleteProject(deletePid)" data-dismiss="modal" type="button" class="btn btn-danger">
                    Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
