<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>CR Management</h3>
        <strong>CR</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a routerLink="/dashboard">
                <i class="glyphicon glyphicon-dashboard"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/projects">
                <i class="glyphicon glyphicon-user"></i>
                Projects
            </a>
        </li>
        <li>
            <a routerLink="/user/listing">
                <i class="glyphicon glyphicon-user"></i>
                Users
            </a>
        </li>
    </ul>
</nav>